.container-cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card{
    width: 250px;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    text-align: center;
    transition: 0.3s;
}

.card:hover{
    transform: scale(1.03);
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.card h2{
    margin-top: 10px;
    font-size: 22px;
}

.card p{
    color: green;
    font-size: 18px;
    font-weight: bold;
}